/*
 *****************************************
 * Section Header =left
 *****************************************
*/
.left {
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
    -webkit-box-shadow: rgba(25, 25, 25, 0.04) -4px 0px 4px 0px inset;
       -moz-box-shadow: rgba(25, 25, 25, 0.04) -4px 0px 4px 0px inset;
            box-shadow: rgba(25, 25, 25, 0.04) -4px 0px 4px 0px inset;
  
  width: 30px;
  height: 100%;
}
/*
 *****************************************
 * Section Header =top-bar
 *****************************************
*/

.top-bar {
  position: fixed;
  margin-left: 30px;
  top: 0;
  padding-top: 7px;
  height: 44px;
  width: 100%;
  background-color: #fff;
  min-width: 900px;
  /*border: 1px solid red;*/
  border-bottom: 1px solid #ccc;
}

.left-nav {
  position: relative;
  float: left;
  width: 328px;
}

.left-nav li, .right-nav li {
  display: inline;
  text-transform: uppercase;
}

.left-nav ul, .right-nav ul {
  padding: 0;
  margin: 0;
  position: relative;
  left: -25px;
}
.top-bar button {
  padding: 7px 9px;
  border-radius: 3px;
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer; 
  cursor: hand;
}

.left-nav button {
  margin-top: 1px;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
}

.left-nav button:hover {
  background-color: #f7f7f5;
}

#sections {
  background-image: url(../images/menu.svg);
  background-position: 9px 7.5px;
  background-size: 18px 14px;
  box-shadow: rgba(0,0,0,0.6) 0px 3px 2px;
  padding-left: 32px;
}

#home {
  background-image: url(../images/favicon.ico);
  background-position: 9px 7.5px;
  background-size: 16px 16px;
  padding-left: 28px;
}

#search {
  background-image: url(../images/search.svg);
  background-position: 9px 7.5px;
  background-size: 16px 16px;
  padding-left: 28px;
}

img {
  display: block;
  margin: auto;
  margin-top: 3px;
}

.right-nav {
  position: relative;
  float: right;
  width: 328px;
  height: 20px;
}

.right-nav button {
  background-color: #6288a5;
  border: 1px solid #4d7b9F;
  color: #fff !important;
  margin-right: 5px;
}

.right-nav button:hover {
  background-color: #326891;
}

.right-nav ul {
  float: right;
  margin-right: 22px;
}

.right-nav li {
  vertical-align: top;
}


#settings {
  background-image: url(../images/cog.svg);
  background-position: 0px 7px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  height: 25px;
  width: 16px;
  margin-left: 8px;
  display: inline-block;
  cursor: pointer; 
  cursor: hand;
}

/*
 *****************************************
 * Section Header =carosel
 *****************************************
*/

.carosel-container {
  width: 100%;
  height: 83px;
  clear: both;
  margin: 53px 0 0 0;
  overflow: hidden;
  /*border: 1px solid black;*/
  /*background-color: yellow;*/
}

.carosel-container ul {
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

.carosel-container li {
  display: inline;
}

.carosel-article {
  padding: 5px 9px 5px 8px;
  margin: 3px 0 5px 0;
  width: 240px;
  height: 65px;
  /*background-color: pink;*/
  display: inline-block;
  border-left: 1px solid #e2e2e2;
}

.first-div {
  margin-left: 23px;
  border-left: none;
}

.carosel-article img {
  display: relative;
  float: left;
}

.carosel-article h2 {
  display: relative;
  float: left;
  margin: 10px 0 0 0;
  padding-left: 15px;
  font-size: 13px;
  width: 150px;
  font-weight: 200;
  font-size: 15px;
  color: #333;
}

.carosel-article h2:hover {
  text-decoration: underline;
}

.carosel-image {
  display: inline-block;
}

.carosel-links {
  text-decoration: none;
}

/* This sits between the carosel and avertisement
 *****************************************
 * Section Header =spacer
 *****************************************
*/

.spacer {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: pink;
  border-top: 1px solid red;
}
